.c{
    margin: auto;
    margin-left: 550px;
    margin-right: 550px;
    margin-top: 150px;
}
.a{
    margin: auto;
    text-align: center;
}
.b{
    margin: auto;
    text-align: center;
}